dotenv==0.9.9
faiss-cpu==1.13.2
fastapi==0.134.0
langchain==1.2.10
langchain-community==0.3.0
langchain-openai==1.1.10
langchain-text-splitters==0.3.0
openai==2.24.0
pydantic==2.12.5
pypdf==6.7.4
python-dotenv==1.2.1
python-multipart==0.0.22
requests==2.31.0
streamlit==1.28.0
tiktoken==0.12.0
uvicorn==0.41.0